#navbar{
    background-color: #004288;
    color: white;
    padding: .4vh .5vw;
    .logo{
        font-family: 'Lato', sans-serif;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: -2px;
        user-select: none;
        cursor: pointer;
    }
    .nav-links{
        font-family: 'Noto Sans', sans-serif;
        margin: auto 0;
        a, span{
            font-size: 1em;
            margin-left: 2vh;
            color: white;
            user-select: none;
            cursor: pointer;
            &:hover{
                text-decoration: none;
                color: #ddd;
            }
        }
    }
    .about-box{
        background-color: white;
        color: #212121;
        padding: 2vh 1.75vw;
        border-radius: 6px;
        margin-bottom: 5px;
    }
    .notification-center{
        z-index: 15;
        position: absolute;
        text-align: center;
        width: 20vw;
        top: 2vh;
        left: 40%;
        .notification{
            padding: 1vh 0;
            border-radius: 4px;

            color: white;
            &.danger{
                background-color: #e74c3c;
            }
            &.success{
                background-color: #2ecc71;
            }
        }
    }
}